# This file specifies dependences for the whole project. Minimal dependences
# for building the module are defined in '.setup.py`.

# Build the python module. specifying minimum versions (as used in python 3.7)
numpy
scikit-learn
matplotlib
pandas
jax[cpu]
scipy
pylatex

# setup requires
wheel
setuptools

# Testing
pytest
pytest-runner

# Profiling and benchmarking
coverage
coverage-badge
snakeviz
filelock

# Documentation
docutils
sphinx
Jinja2
markupsafe
sphinx_rtd_theme
ipython
nbsphinx

# Upload to PyPI
twine