# This file specifies dependences for the whole project. Minimal dependences
# for building the module are defined in '.setup.py`.

# Build the python module. specifying minimum versions (as used in python 3.7)
numpy>=1.18.2
scikit-learn>=1.0.0
matplotlib>=3.2.2
pandas>=1.1.0
jax[cpu]
scipy>=1.5.2
pylatex>=1.4.1

# setup requires
wheel
setuptools

# Testing
pytest
pytest-runner

# Profiling and benchmarking
coverage
coverage-badge
snakeviz
filelock

# Documentation
docutils
sphinx
Jinja2
markupsafe
sphinx_rtd_theme
ipython
nbsphinx